<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <!-- Bootstrap icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <!-- Our custom CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <title>{% block title %}NBSS{% endblock %}</title>
        <link rel="icon" href="{{ asset('logo-favicon-circle.png') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-gradient">
            <div class="container-fluid">
                <a class="navbar-brand ms-2" href="{{ path('home') }}"><img class="img-fuild" src="{{ asset('images/LOGO-NBSS-large-blanc.png') }}" height="52" alt="Logo NBSS"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav ms-auto fs-6 fw-bold text-sm-center text-lg-center">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('home') }}">Accueil<span class="visually-hidden">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_contact_index') }}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_frequency_index') }}">Frequence</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_personal_assistance_index') }}">Aide à la personne</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_intervention_index') }}">Intervention</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_picture_index') }}">Banque d'image</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_recruitment_index') }}">Annonce</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_user_index') }}">Utilisateur</a>
                        </li>
                        {% endif %}
                        {% if app.user == null %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                        </li> 
                        {% endif %}                   
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
    <div class="container px-4 px-lg-6">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-12">
                <div class="my-5">

            {% block body %} {% endblock %}
                    
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </body>  
</html>